#chartdiv0 {
    width: 400px;
    height: 500px;
}
#chartdiv1 {
    width: 400px;
    height: 500px;
}
#chartdiv2 {
    width: 400px;
    height: 500px;
}
#chartdiv3 {
    width: 400px;
    height: 500px;
}
#chartdiv4 {
    width: 400px;
    height: 500px;
}
#chartdiv5 {
    width: 400px;
    height: 500px;
}
#chartdiv6 {
    width: 400px;
    height: 500px;
}
